.cont-page-creaCliente{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    min-height: 89.9vh;
    background-color: #d5d3d3;
}
.h1-form-cliente{
    margin: 10px 0 5px 0;
}
