* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --background-color-remito: rgba(132, 73, 73, 0.718);
  --background-color-navBar-oscuro: rgba(70, 47, 28, 1);
  --background-color-navBar-claro: rgb(235, 229, 229);
}